<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="false"
      internalLogLevel="info">
  <!--internalLogFile="c:\temp\internal-nlog-AspNetCore3.txt">-->

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!--<variable name="exceptionlogDirectory" value="Logs/Exception/${shortdate}"/>-->
  <variable name="exceptionlogDirectory" value="Logs/Exception/${date:format=yyyy-MM}"/>
  <variable name="FinancialBasketLogDirectory" value="Logs/Exception/${date:format=yyyy-MM}/Financial/BasketService"/>
  <variable name="FinancialWalletLogDirectory" value="Logs/Exception/${date:format=yyyy-MM}/Financial/BasketService"/>
  <variable name="FinancialLogDirectory" value="Logs/Exception/${date:format=yyyy-MM}/Financial"/>
  <variable name="infologDirectory" value="Logs/Info/${date:format=yyyy-MM}"/>
  
  <targets async="true">
    <!--// =================================== in whole of program ========================================================-->
    <target xsi:type="File" name="DatabaseExpLogger" fileName="${exceptionlogDirectory}/DatabaseExpLogger.txt"
        layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|" />
    <target xsi:type="File" name="InfoLogger" fileName="${infologDirectory}/InfoLogger.txt"
        layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="OtherExpLogger" fileName="${exceptionlogDirectory}/OtherExpLogger.txt"
        layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|" />
    <target xsi:type="File" name="FileIOExpLogger" fileName="${exceptionlogDirectory}/FileIOExpLogger.txt"
        layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|" />
    <target xsi:type="File" name="UserLogger" fileName="${exceptionlogDirectory}/UserLogger.txt"
        layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|" />
    <target xsi:type="File" name="SendingMessageLogger" fileName="${exceptionlogDirectory}/SendingMessageLogger.txt"
        layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|" />
    <target xsi:type="File" name="MemoryLogger" fileName="${infologDirectory}/MemoryLogger.txt"
        layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${message}" />
    <target xsi:type="File" name="CompanyBalanceLogger" fileName="${infologDirectory}/CompanyBalanceLogger.txt"
        layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${message}" />

    <!--// ===================================== not defined yet ======================================================-->
    <target xsi:type="File" name="PaymentLoggerStp3" fileName="${FinancialBasketLogDirectory}/PaymentLoggerStp3.txt"
        layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|" />
    <target xsi:type="File" name="PaymentLoggerStp4" fileName="${FinancialBasketLogDirectory}/PaymentLoggerStp4.txt"
        layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|" />
   
    <!--//===================================== basket ======================================================================-->
    <target xsi:type="File" name="PaymentLoggerStp1" fileName="${FinancialBasketLogDirectory}/PaymentLoggerStp1.txt"
        layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|" />
    <target xsi:type="File" name="BasketThirdPartyConnectionLogger" fileName="${FinancialBasketLogDirectory}/BasketThirdPartyConnectionLogger.txt"
        layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|" />
    <target xsi:type="File" name="BasketDBOperationFailedLogger" fileName="${FinancialBasketLogDirectory}/BasketDBOperationFailedLogger.txt"
        layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|" />
    <target xsi:type="File" name="BasketBaseExceptionLogger" fileName="${FinancialBasketLogDirectory}/BasketBaseExceptionLogger.txt"
        layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|" />
    <target xsi:type="File" name="BasketOtherExceptionLogger" fileName="${FinancialBasketLogDirectory}/BasketOtherExceptionLogger.txt"
        layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|" />
   <!--// ================================= finantial overally =========================================================-->
    <target xsi:type="File" name="FinancialExpLogger" fileName="${FinancialLogDirectory}/FinancialExpLogger.txt"
        layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|" />
    <!--//====================================== wallet ==================================================================-->
    <target xsi:type="File" name="WalletThirdPartyConnectionLogger" fileName="${FinancialWalletLogDirectory}/WalletThirdPartyConnectionLogger.txt"
        layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|" />
    <target xsi:type="File" name="WalletDBOperationFailedLogger" fileName="${FinancialWalletLogDirectory}/WalletDBOperationFailedLogger.txt"
       layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|" />
    <target xsi:type="File" name="WalletOtherExceptionLogger" fileName="${FinancialWalletLogDirectory}/WalletOtherExceptionLogger.txt"
       layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|" />
    <target xsi:type="File" name="WalletBaseExceptionLogger" fileName="${FinancialWalletLogDirectory}/WalletBaseExceptionLogger.txt"
       layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|" />
    <target xsi:type="File" name="PaymentLoggerStp2" fileName="${FinancialWalletLogDirectory}/PaymentLoggerStp2.txt"
        layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--// =================================== in whole of program ========================================================-->
    <logger name="DatabaseExpLogger" minlevel="Trace" writeTo="DatabaseExpLogger" final="true" />
    <logger name="InfoLogger" minlevel="Trace" writeTo="InfoLogger" final="true" />
    <logger name="OtherExpLogger" minlevel="Trace" writeTo="OtherExpLogger" final="true" />
    <logger name="FileIOExpLogger" minlevel="Trace" writeTo="FileIOExpLogger" final="true" />
    <logger name="UserLogger" minlevel="Trace" writeTo="UserLogger" final="true" />
    <logger name="MemoryLogger" minlevel="Trace" writeTo="MemoryLogger" final="true" />
    <logger name="SendingMessageLogger" minlevel="Trace" writeTo="SendingMessageLogger" final="true" />
    <logger name="CompanyBalanceLogger" minlevel="Trace" writeTo="CompanyBalanceLogger" final="true" />
    <!--//=============================================== not defined =================================================-->
    <logger name="PaymentLoggerStp3" minlevel="Trace" writeTo="PaymentLoggerStp3" final="true" />
    <logger name="PaymentLoggerStp4" minlevel="Trace" writeTo="PaymentLoggerStp4" final="true" />
    <!--// =========================================== basket ==============================================================-->
    <logger name="BasketThirdPartyConnectionLogger" minlevel="Trace" writeTo="BasketThirdPartyConnectionLogger" final="true" />
    <logger name="BasketDBOperationFailedLogger" minlevel="Trace" writeTo="BasketDBOperationFailedLogger" final="true" />
    <logger name="BasketBaseExceptionLogger" minlevel="Trace" writeTo="BasketBaseExceptionLogger" final="true" />
    <logger name="BasketOtherExceptionLogger" minlevel="Trace" writeTo="BasketOtherExceptionLogger" final="true" />
    <logger name="PaymentLoggerStp1" minlevel="Trace" writeTo="PaymentLoggerStp1" final="true" />
    <!--//====================================== wallet ==================================================================-->
    <logger name="PaymentLoggerStp2" minlevel="Trace" writeTo="PaymentLoggerStp2" final="true" />
    <logger name="WalletThirdPartyConnectionLogger" minlevel="Trace" writeTo="WalletThirdPartyConnectionLogger" final="true" />
    <logger name="WalletDBOperationFailedLogger" minlevel="Trace" writeTo="WalletDBOperationFailedLogger" final="true" />
    <logger name="WalletOtherExceptionLogger" minlevel="Trace" writeTo="WalletOtherExceptionLogger" final="true" />
    <logger name="WalletBaseExceptionLogger" minlevel="Trace" writeTo="WalletBaseExceptionLogger" final="true" />
    <!--// ======================================== finantial overally ================================================-->
    <logger name="FinancialExpLogger" minlevel="Trace" writeTo="FinancialExpLogger" final="true" />


  </rules>
</nlog>